<div class="col-md-12 col-md-offset-1">
	<h2>Results  for {{ params.id }}</h2>
		<h4>Results by</h4>
			<div class="row">
				<div class="col-md-7 col-md-offset-*">
					<form class="form-inline">
					<div class="form-group">
							<select class="form-control" id="resultsBy" >
								<option ng-repeat="filter in filters">{{ filter }}</option>
							</select>		
					</div>
						<button type="submit" class="btn btn-default" ng-click="resultsBy()">Change</button>								
				</form>
			</div>
	</div>
	<br>
	<div pck-Result></div>
</div>
<div class="col-md-7 col-md-offset-1">
	<div>
		<div class="table-responsive" ng-controller="detailsCtrl">
			<div pck-ResultsBy></div>
			<table class="table table-hover table-condensed" id="users">
					<thead>
							<tr>
									<th>user</th>
									<th>results</th>
									<th>comments</th>
							</tr>
					</thead>
					<tbody ng-repeat="detail in details | filter:type | orderBy:orderProp">
							<tr>
									<td>{{ detail.user }}</td>
									<td>
														<span ng-repeat="result in results | filter:detail.id | orderBy:orderProp">
																{{ result.item }} ({{ result.val }})
														</span>
									</td>
									<td>{{ detail.comments }}</td>
							</tr>
					</tbody>
		</table>
	</div>
</div>
