<div class="col-md-10 col-md-offset-1" ng-controller="detailsCtrl">
	<h2>Results  for {{ params.id }}</h2>
		<!--<div pck-Result></div>-->
		<div class="well col-md-10 col-md-offset-*">
					<div class="col-md-6 col-md-offset-*">
							<div pck-Pics></div>
				</div>
				<div class="col-md-6 col-md-offset-*">
								<div google-chart chart="chart1" style="height300px; width:100%;"></div>
				</div>
				<div class="col-md-10 col-md-offset-*">
								<div ng-repeat="pck in pcklst | filter:pckid | filter:params.id">
									<p><b>Description: </b>{{ pck.descrp }}</p>
									<p><b>Results</b>:<span ng-repeat="total in totals"> {{ total.item.item	 }}({{ total.val }}); </span></p>
									<b>Participants</b>: <span ng-repeat="pckr in pckrs | filter:pck.pckid"> {{ pckr.usr_count }}</span></p>
							</div>
				</div>
		</div>
		<div pck-ResultsBy></div>
</div>
