	<form role="form">
				<div class="form-group">
					<label>User name</label>
					<input type="text" class="form-control" id="usrtxt" placeholder="User name">
				</div>
				<div class="form-group">
					<label for="pwtxt">Password</label>
					<input type="password" class="form-control" id="pwtxt" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-default" ng-click="login()">Login</button>
			<button type="submit" class="btn btn-default" ng-click="clear()">Clear</button>
		</div>
	</form>
	<hr>
	<div>Status: {{ status }}</div>
	
							

	

