<div class="container-fluid">
	<div class="page-header">
		<h2>pikr</h2>
		<p id="droptxt">Making hard decisions easier<br><b>Email: </b>{{ params.user }}<br><b>PickID: </b>{{ params.id }}</p>
		<p>{{ message }}</p>
 </div>

	</div>
	<div class="row" >
		<div class="col-md-3" ng-repeat="pick in picks">
			<div droppable drop="handleDrop" id="{{ pick.bin }}">
				<div class="thumbnail" href="#"  draggable id="{{ pick.name }}">
					<img data-src="holder.js/100%x80" src="{{ pick.imageUrl  }}" class="thumbnail">
					<div id="{{ pick.name }}caption" class="caption"><b>{{ pick.name }}:</b> {{ pick.description }}</div>
				</div>
		</div>
	</div>	
</div>
<div class="row col-md-9">
	<div class="well">
	<p>Please order the following pictures from left to right. Place your favorite picture in the rightmost square, etc.</p>
</div>
	<ul class="list-group" id="list">
			<li class="list-group-item">
					<label>Comments</label>
					<textarea class="form-control" rows="1" placeholder="Please type any additional comments here" id="cmnt_txt"></textarea>	
					<br>
						<button class="btn btn-danger btn-xs" ng-click="submit()" id="#submit" ng-disabled="false">Submit</button>
						<button class="btn btn-info btn-xs" ng-click="go('/pickr')">Reset</button>		
			</li>
		</ul>
	</div>
</div>


