	<table class="table table-hover table-condensed" id="gender">
		<thead>
				<tr>
						<th>gender</th>
						<th>results</th>
						<th>participants</th>
				</tr>
		</thead>
		<tbody>
				<tr>
						<td>male</td>
						<td><span ng-repeat="usrMVal in usrMVals | filter:params.id">{{ usrMVal.item }} ({{ usrMVal.val }}) </span></td>
						<td><span ng-repeat="usrMCnt in usrMCnts | filter:params.id">	{{ usrMCnt.count }}</span></td>
				</tr>
				<tr>
						<td>female</td>
						<td><span ng-repeat="usrFVal in usrFVals | filter:params.id">{{ usrFVal.item }} ({{ usrFVal.val }}) </span></td>
						<td><span ng-repeat="usrFCnt in usrFCnts | filter:params.id">	{{ usrFCnt.count }}</span></td>
				</tr>
		</tbody>
	</table>
	<table class="table table-hover table-condensed" id="status">
		<thead>
				<tr>
						<th>status</th>
						<th>results</th>
						<th>participants</th>
				</tr>
		</thead>
		<tbody>
				<tr>
						<td>single</td>
						<td><span ng-repeat="usrSngVal in usrSngVals | filter:params.id">{{ usrSngVal.item }}({{ usrSngVal.val }}) </span></td>
						<td><span ng-repeat="usrSngCnt in usrSngCnts | filter:params.id">	{{ usrSngCnt.count }}</span></td>
				</tr>
				<tr>
						<td>married</td>
						<td><span ng-repeat="usrMrdVal in usrMrdVals | filter:params.id">{{ usrMrdVal.item }}({{ usrMrdVal.val }}) </span></td>
						<td><span ng-repeat="usrMrdCnt in usrMrdCnts | filter:params.id">	{{ usrMrdCnt.count }}</span></td>
				</tr>
		</tbody>
	</table>
