	<!--<form class="form-default">
		<div class="form-group">
		<label class="control-label col-md-2">Gender</label>	
		<div class="col-md-4 col-md-offset-*">
						<select class="form-control" id="resultsBy" >
							<option ng-repeat="filter in filters">{{ filter }}</option>
						</select>
						</div>
					<button type="submit" class="btn btn-default" ng-click="resultsBy()">Change</button>					
		</div>			
	</form>-->
				
	<div class="table-responsive" ng-controller="detailsCtrl">
			<table class="table table-hover table-condensed" id="resultsByTbl">
						<thead>
								<tr>
										<th>gender</th>
										<th>results</th>
										<th>participants</th>
								</tr>
						</thead>
						<tbody>
								<tr>
										<td>male</td>
										<td><p ng-repeat="usrMVal in usrMVals | filter:params.id">{{ usrMVal.descrp }} ({{ usrMVal.val }})</p></td>
										<td><p ng-repeat="usrMCnt in usrMCnts | filter:params.id">	{{ usrMCnt.count }}</p></td>
								</tr>
								<tr>
										<td>female</td>
										<td><p ng-repeat="usrFVal in usrFVals | filter:params.id">{{ usrFVal.descrp }} ({{ usrFVal.val }})</p></td>
										<td><p ng-repeat="usrFCnt in usrFCnts | filter:params.id">	{{ usrFCnt.count }}</p></td>
								</tr>
						</tbody>
		</table>
	</div>

<div class="table-responsive" ng-controller="detailsCtrl">
			<table class="table table-hover table-condensed" id="resultsByTbl">
						<thead>
								<tr>
										<th>status</th>
										<th>results</th>
										<th>participants</th>
								</tr>
						</thead>
						<tbody>
								<tr>
										<td>single</td>
										<td><p ng-repeat="usrSngVal in usrSngVals | filter:params.id">{{ usrSngVal.descrp }} ({{ usrSngVal.val }})</p></td>
										<td><p ng-repeat="usrSngCnt in usrSngCnts | filter:params.id">	{{ usrSngCnt.count }}</p></td>
								</tr>
								<tr>
										<td>married</td>
										<td><p ng-repeat="usrMrdVal in usrMrdVals | filter:params.id">{{ usrMrdVal.descrp }} ({{ usrMrdVal.val }})</p></td>
										<td><p ng-repeat="usrMrdCnt in usrMrdCnts | filter:params.id">	{{ usrMrdCnt.count }}</p></td>
								</tr>
						</tbody>
		</table>
	</div>
