<div class="col-md-9 col-md-offset-1">
	<h3>Results</h3>	
	<!--<p ng-repeat="usrTotal in usrTotals">		{{ usrTotal.item }}, {{ usrTotal.val }}</p>-->
	<div class="table-responsive">
		<table class="table table-hover table-condensed">
					<thead>
							<tr>
									<th>pckid</th>
									<th>description</th>
									<th>items</th>
									<th>results</th>
									<th>participants</th>
							</tr>
					</thead>
					<tbody ng-repeat="pck in pcklst | filter:pckid | filter:params.id">
							<tr>
									<td><a href="#/details/{{ pck.pckid }}">{{ pck.pckid }}</a></td>
									<td>{{ pck.description }}</td>
									<td>
													<div ng-repeat="total in totals | filter:pck.pckid">
																{{ total.descrp }} 
													 </div>
									</td>
								 <td>
														<div ng-repeat="total in totals | filter:pck.pckid">
																{{ total.item }} : {{ total.val }}
													 </div>
									</td>
									<td>
													<div ng-repeat="pckr in pckrs | filter:pck.pckid">
																{{ pckr.count }}
													 </div>
									</td>
							</tr>
					</tbody>
	</table>

</div>