<div class="row">
		<div class="col-md-9 col-md-offset-1">
				<div id="intro">
					<div class="page-header">
							<h1>Welcome to Pikr</h1>
							<div class="helptext">Making hard decisions easier.</div>
					</div>
					<p>Pikr is a service that helps you make choices with the help of your family, friends, and social circle. 
					Pikr not only helps you make informed choices, it also lets you analyze your friends choices, and gain important insights.</p>
					<p>For example, if you are trying to choose new glasses, here's how Pikr can help you. First, pick out the frames you like. Next upload them to Pikr. Once you are ready, email your friends and ask them to rank the pictures. They can also leave a comment with additional information. Pikr collects the data from all participants, and lets you analyze it.</p>
					<div class="row">
						<div pck-logo></div>
					</div>
					<p>If you are not a Pikr member, click <a href="#/user" id="join">here</a> to join. Otherwise, please type your user name and password in the textboxes above.</p>
					<!--<div pck-Logo></div>-->
					<!--<p>All you need to do is upload some pictures, tell your friends that you created a new pick, and ask them 
						to order them from left to right.</p>-->
				</div>
			</div>
	</div>
<div pck-Msg ng-controller="detailsCtrl" id="usrmsg"></div>
<div class="row" id="mypicks">
			<div class="col-md-8 col-md-offset-1">
				<ul class="list-group">
					<li class="list-group-item">
							<div pck-Usrdata></div>
					</li>
			</ul>
			</div>
						<div class="col-md-8 col-md-offset-1">
					<ul class="list-group">
						<li class="list-group-item">
								<div pck-Uploadlst></div>
						</li>
					</ul>
			</div>
			<div class="col-md-8 col-md-offset-1">
				<ul class="list-group">
					<li class="list-group-item">
							<div pck-Mypcks ng-controller="detailsCtrl"></div>
					</li>
			</ul>
			</div>
			<div class="col-md-8 col-md-offset-1">
					<ul class="list-group">
						<li class="list-group-item">
								<div pckr-Detail ng-controller="detailsCtrl"></div>
						</li>
					</ul>
			</div>
	</div>
</div>