	<div class="row">
		<div class="col-md-9 col-md-offset-1">
					<div class="page-header">
						<h1>Welcome to Pckr</h1>
				</div>
				<p>Pikr is a service that helps you make choices with the help of your family, friends, and social circle. 
				Pikr not only helps you make informed choices, it also lets you analyze your friends choices, and gain important insights.</p>
				<div class="row">
					<div class="col-md-6 col-md-offset-*">
								<img data-src="holder.js/10%x80" src="img/red.png" class="thumbnail col-md-3">
								<div class="col-md-1"></div>
								<img data-src="holder.js/10%x80" src="img/green.png" class="thumbnail col-md-3">
								<div class="col-md-1"></div>
								<img data-src="holder.js/10%x80" src="img/blue.png" class="thumbnail col-md-3">
					</div>
				</div>
				<p>All you need to do is upload some pictures, tell your friends that you created a new pick, and ask them 
					to order them from left to right.</p>
			</div>
	</div>
		
<div class="row">
			<div class="col-md-8 col-md-offset-1">
				<ul class="list-group col-md-3" id="list">			
						<li class="list-group-item">
									<div pck-Login></div>
						</li>
					</ul>
				<ul class="list-group col-md-8" id="list">			
						<li class="list-group-item">
									<p>To take part in a pick enter a pckid and your email addresss below.</p>
									<div pck-Form></div>
						</li>
					</ul>
					<!--<ul class="list-group col-md-8" id="list">			
						<li class="list-group-item">
									<div pck-Filter></div>
									<div pckr-Totals></div>
						</li>
				</ul>-->
	</div>		