<div class="row">
		<div class="col-md-9 col-md-offset-1">
					<div class="page-header">
						<h1>Welcome to Pikr</h1>
						<div class="helptext">Making hard decisions easier.</div>
				</div>
				<p>Pikr is a service that helps you make choices with the help of your family, friends, and social circle. 
				Pikr not only helps you make informed choices, it also lets you analyze your friends choices, and gain important insights.</p>
				<div pck-Logo></div>
				<p>All you need to do is upload some pictures, tell your friends that you created a new pick, and ask them 
					to order them from left to right.</p>
			</div>
	</div>
<div class="row">
		<div class="col-md-3 col-md-offset-1">
				<ul class="list-group">
					<li class="list-group-item" id="loginbox">
						<div pck-Login></div>
					</li>
					<li class="list-group-item" id="logoutbox">
						<div pck-Logout></div>
					</li>
				</ul>
			</div>
			<div class="col-md-6 col-md-offset-*">
					<li class="list-group-item" id="mypicks">
							<div pck-Mypcks ng-controller="detailsCtrl"></div>
					</li>
				</ul>
			</div>
</div>



	
	