<nav class="navbar navbar-default" role="navigation" ng-controller="userCtrl">
   <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-left" href="#/pikr/{{ status }}">Pikr</a>		
    </div>
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav">
								<li><a href="#/user" id="join">Join</a></li>
								<!--<li><a href="#/details" id="details">Details</a></li>-->
								<li><a href="#/upload" id="totals">Upload files</a></li>
								<li><a href="#/create" id="totals">Create</a></li>
								<!--<li><a href="#/totals" id="totals">Results</a></li>-->
      </ul>
						<form class="navbar-form navbar-right" id="loginbox">
								<div class="form-group">
									<input type="text" class="form-control" id="usrtxt" placeholder="User name">
								</div>
								<div class="form-group">
									<input type="password" class="form-control" id="pwtxt" placeholder="Password">
								</div>
							<button type="submit" class="btn btn-default" ng-click="login()">Login</button>
						</form>
						<form class="navbar-form navbar-right" id="logoutbox">
									Signed in as <a href="#" class="navbar-link" id="usrstatus">{{ status }} </a>
								 <button type="submit" class="btn btn-default" ng-click="logout()">Logout</button>
							</form>
    </div>
  </div>
</nav>
<!--<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation"></nav>-->
