<div ng-controller="userCtrl">
	<div class="row">
			<div class="col-md-3 col-md-offset-*">
					<h4>Details</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-*"><p><b>First name: </b>{{ usr.fname }}</p></div>
			<div class="col-md-4 col-md-offset-*"><p><b>Last name: </b>{{ usr.lname }}</p></div>
			<div class="col-md-4 col-md-offset-*"><p><b>User name: </b>{{ usr.usrname }}</p></div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-*"><p><b>Email: </b>{{ usr.email }}</p></div>
			<div class="col-md-4 col-md-offset-*"><p><b>Gender: </b>{{ usr.gender }}</p></div>
			<div class="col-md-4 col-md-offset-*"><p><b>Status: </b>{{ usr.status }}</p></div>
		</div>
		<div class="row">
			<!--<div class="col-md-4 col-md-offset-*"><p><b>Birthday: </b>{{ usr.birthday }}</p></div>-->
			<div class="col-md-4 col-md-offset-*"><p><b>Age: </b>{{ usr.age }}</p></div>
			<div class="col-md-4 col-md-offset-*"><p><b>Profession: </b>{{ usr.profession }}</p></div>
		</div>
	<a href="#/user/">Change</a>	
 <hr />
<div class="well">
  <p>ID: {{ fbusr.id }}</p>
  <p>User: {{ fbusr.username }}</p>
  <p>Name: {{ fbusr.name }}</p>
  <p>Birthday: {{ fbusr.birthday }}</p>
  <p>Gender: {{ fbusr.gender }}</p>
  <p>Link: {{ fbusr.link }}</p>
  <p>Email: {{ fbusr.email }}</p>
  <p>Locale: {{ fbusr.locale }}</p>
  <button type="submit" class="btn btn-default" ng-click="pikrFBLogin()">Login with Facebook</button>
  <hr />
  <p>{{ fbfeed }}</p>
</div>

   
</div>



				