	<div class="well	 col-md-10 col-md-offset-*">
			<form class="form-inline">
				<label>Results by</label>
				<div class="form-group">
					<!--<label>Type</label>-->
					<select class="form-control" ng-model="type" ng-options="dfilter.type for dfilter in dfilters" id="flt_type" ng-click="activate('#flt_opt')">
						<option value="">-- Type --</option>
					</select> 		
			</div>
			<label><!--Option--></label>	
			<div class="form-group">
				<select class="form-control" id="flt_opt" disabled>
						<option ng-repeat="dOption in dOptions | filter:type">{{ dOption.value }}</option>
					</select>		
			</div>
				<label>Chart type</label>
			<div class="form-group">
						<select class="form-control" id="flt_chart">
						<option>Bar</option>
						<option>Pie</option>
					</select>		
			</div>
			<!--<label></label>-->
			<button type="submit" class="btn btn-default" ng-click="resultsBy()">Change</button>	
		</form>
		<br>
		<p><b>Participants: </b><span ng-repeat="usrCnt in usrCnts | filter:params.id">	{{ usrCnt.usr_count }}</span></p>
		<div google-chart chart="chart2" style="height:200px; width:100%;"></div>
	</div>

		
					
